*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.ha {
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
 
  }
  
  .ha img {
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của phần tử cha */
    height: auto; /* Giữ tỷ lệ khung hình */
  }